# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# ai
.agents/
AGENTS.md
skills-lock.json

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.vercel

TODO.md